A {
        COLOR: #0A5BAD;
        FONT-FAMILY: verdana;
        FONT-SIZE: small;
        text-decoration : none;
        font-weight : bold;
}
A:hover {
        COLOR: maroon;
}

.B {
        COLOR: yellow;
        FONT-FAMILY: verdana;
        FONT-SIZE: small;
        text-decoration : none;
        font-weight : bold;
}
.B:hover {
        COLOR: white;
}

.otsikko {
        COLOR: Black;
        FONT-FAMILY: verdana;
        FONT-SIZE: xx-small;
        }

.T {
        COLOR: Black;
        FONT-FAMILY: verdana;
        FONT-SIZE: xx-small;
        text-transform : uppercase;
        font-weight : bold;
}

.at {
        COLOR: red;
        FONT-FAMILY: verdana;
        FONT-SIZE: xx-small;
        text-transform : uppercase;
        font-weight : bold;
}

.nws_t{
        COLOR: Blue;
        FONT-FAMILY: verdana;
        FONT-SIZE: larger;
        text-transform : uppercase;
        font-weight : bold;
}

.nws_b{
        COLOR: Navy;
        FONT-FAMILY: verdana;
        FONT-SIZE: smaller;
        text-transform : none;
        font-weight : bold;
}

.ok {
        COLOR: Green;
        FONT-FAMILY: verdana;
        FONT-SIZE: xx-small;
        text-transform : uppercase;
        font-weight : bold;
}

.ok_BIG {
        COLOR: #AA1017;
        FONT-FAMILY: verdana;
        FONT-SIZE: medium;
        text-transform : uppercase;
        font-weight : bold;
}

.top
{
        COLOR: White;
        FONT-FAMILY: verdana;
        FONT-SIZE: xx-small;
        font-weight : bold;
        text-align : center;
}


table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}